{% macro card(title, content, url="", btnText="查看") %}
<div class="three-column-card">
    <div class="card-title">{{ title }}</div>
    <div class="card-content">{{ content }}</div>
    <div class="card-btn"><a href="{{ url }}">{{ btnText }}</a></div>
</div>
{% endmacro %}
