<footer>
    <p>MIT &copy; <a href="https://github.com/mantoujun12" title="访问 Github 主页">mantoujun12</a></p>
    <span>
        <a href="https://www.douyin.com/user/MS4wLjABAAAAtmK1B7sTyq88WZrWQltiwKoROqN0xcJsDpiHU1rT4c1Gz54z8Scuxw0eLG6bMN0-"
            title="抖音主页"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://space.bilibili.com/3546769845651673" title="BiliBili 主页"><i
                class="fa-brands fa-bilibili"></i></a>
        <a href="https://github.com/mantoujun12/mantoujun12.github.io"><i class="fa-brands fa-github"></i></a>
    </span>
</footer>