<header>
    <input type="checkbox" id="nav-toggle" hidden>
    <label for="nav-toggle" class="nav-hamburger"><i class="fa-solid fa-bars"></i></label>
    <div class="nav-title"><i class="fa-solid fa-school"></i></div>
    <nav>
        <div class="nav-btns">
            <a href="/hjx-25pc1-website/" title="首页"><i class="fa-solid fa-house"></i><span class="mobile-only">首页</span></a>
            <a href=""><i class="fa-solid fa-book" title="文章"></i><span class="mobile-only">文章</span></a>
            <a href="/hjx-25pc1-website/zone.html" title="分区"><i class="fa-solid fa-arrow-pointer"></i><span class="mobile-only">分区</span></a>
            <a href="https://github.com/mantoujun12/hjx-25pc1-website" title="此 GitHub 项目"><i class="fa-brands fa-github"></i><span class="mobile-only">此 Github 项目</span></a>
            <a href="#" class="nav-popup-btn" title="站点导航"><i class="fa-solid fa-sitemap"></i><span class="mobile-only">导航</span></a>
        </div>
    </nav>
    <div class="nav-popup">
        {% include "nav.njk" %}
    </div>
    <div class="nav-popup-overlay"></div>
    <label for="nav-toggle" class="nav-overlay"></label>
</header>