<header>
    <input type="checkbox" id="nav-toggle" hidden>
    <label for="nav-toggle" class="nav-hamburger"><i class="fa-solid fa-bars"></i></label>
    <div class="nav-title"><i class="fa-solid fa-school-flag"></i></div>
    <nav>
        <div class="nav-btns">
            <a href="/">首页</a>
            <a href="">文章</a>
            <a href="">图文</a>
            <a href="/hjx-25pc1-website/zone/">分区</a>
            <a href="https://github.com/mantoujun12/hjx-25pc1-website" title="此 GitHub 项目"><i
                    class="fa-brands fa-github"></i><span class="mobile-only">此 Github 项目</span></a>
        </div>
    </nav>
    <label for="nav-toggle" class="nav-overlay"></label>
</header>