<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "页面" }}</title>
    {% include "head-assets.njk" %}
    <style>
    {{ style | safe }}
    </style>
</head>

<body>
    {% include "header.njk" %}
    <article>
        {{ content | safe }}
    </article>
    {% include "footer.njk" %}
    <script src="{{ '/js/main.js' | url }}"></script>
</body>

</html>
