{%- set navPages = collections.all | eleventyNavigation %}
{%- if navPages.length %}
<nav class="eleventy-nav">
    <ul>
    {%- for entry in navPages %}
        <li{% if entry.url == page.url %} class="nav-active"{% endif %}>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            {%- if entry.children and entry.children.length %}
            <ul>
                {%- for child in entry.children %}
                <li{% if child.url == page.url %} class="nav-active"{% endif %}>
                    <a href="{{ child.url | url }}">{{ child.title }}</a>
                </li>
                {%- endfor %}
            </ul>
            {%- endif %}
        </li>
    {%- endfor %}
    </ul>
</nav>
{%- endif %}
