<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "页面" }}</title>
    {% include "components/head-assets.njk" %}
</head>

<body>
    {% from "macros/button.njk" import button %}
    {% include "../components/header.njk" %}
    <article style="background: rgb(245, 245, 255);">
        <h1>首页</h1>

        <p>这个是<strong>25级计算机应用1班</strong>的班级网站，使用 <strong>Github</strong> 托管代码，使用 <strong>Github Pages</strong> 部署静态页面。
        </p>
        <p>你可以浏览相关页面，来了解班级内容。当然，网站目前处于半完成状态，因此有些内容可能会随时变化，所以欢迎每次都回来看看。</p>
        <p>这个网站目前只有 2 个人在维护，因此如果你有能力的话，欢迎前往 <strong>Github</strong> 点个 <span
                style="color:orange;font-weight:bold">Star</span> !</p>

        <div align="center">
            {{ button("fa-brands fa-github", "前往项目", "https://github.com/hjx-25pc1/hjx-25pc1.github.io") }}
        </div>
    </article>
    <article>
        {{ content | safe }}
    </article>
    {% include "components/footer.njk" %}
    <script type="module" src="{{ '/js/main.js' | url }}"></script>
</body>

</html>