<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章</title>
    {% include "components/head-assets.njk" %}
</head>

<body>
    {% include "components/header.njk" %}
    <article>
        <h1>文章</h1>
    </article>
    <script type="module" src="{{ '/js/main.js' | url }}"></script>
</body>

</html>